<div class="container-fluid">
    <form name="add">
        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" id="Description" aria-describedby="Description" placeholder="Enter description" ng-model="model.task.Description" @*required ng-minlength="4"*@>
        </div>
        <div class="form-group">
            <label for="Status">Status</label>
            <select class="form-control" id="Status" ng-model="model.task.Status" required>
                <option>Pending</option>
                <option>Active</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Deadline">Deadline</label>
            <div class="input-group date" datepicker>
                <input type="text" class="form-control" ng-model="model.task.Deadline" required>
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
        </div>
        <button type="button" class="btn btn-primary" ng-disabled="add.$invalid" ng-click="model.savedata()">Add</button>
    </form>
    <div class="loader" ng-show="model.loading">
        <div class="lds-dual-ring"></div>
    </div>
</div>
