<div class="content add-task-form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="thumbnail">
                    <div class="header">
                        <h4 class="title">Add Task</h4>
                        <hr />
                    </div>
                    <div class="content">
                        <form name="add">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <input type="text" class="form-control" id="Description" aria-describedby="Description" placeholder="Enter description" ng-model="model.task.Description" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Status">Status</label>
                                        <select class="form-control" id="Status" ng-model="model.task.Status" required>
                                            <option>Pending</option>
                                            <option>Active</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Deadline">Deadline</label>
                                        <div class="input-group date" datepicker>
                                            <input type="text" class="form-control" ng-model="model.task.Deadline" required>
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Note</label>
                                        <input type="text" class="form-control" placeholder="Note">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Status">Priority <span>(optional)</span></label>
                                        <select class="form-control" id="Status">
                                            <option>High</option>
                                            <option>Medium</option>
                                            <option>Low</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>More information</label>
                                        <textarea rows="5" class="form-control" placeholder="Add specific details about task"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-info btn-fill pull-right" ng-disabled="add.$invalid" ng-click="model.savedata()">Add Task</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader" ng-show="model.loading">
    <div class="lds-dual-ring"></div>
</div>

