<div class="container container-notification-panel">
    <div class="row">
        <div class="col-md-12">
            <div class="col-sm-12 col-md-6">
                <div class="thumbnail task-notification-panel">
                    <div class="caption">
                        <h3>Completed Tasks</h3>
                        <p>{{model.taskCompleted.length}}</p>
                        <p><a href="#" class="btn btn-default" role="button">View More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="thumbnail task-notification-panel">
                    <div class="caption">
                        <h3>Pending Tasks</h3>
                        <p>{{model.taskPending.length}}</p>
                        <p><a href="#" class="btn btn-default" role="button">View More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="thumbnail task-notification-panel">
                    <div class="caption">
                        <h3>Active Tasks</h3>
                        <p>{{model.taskActive.length}}</p>
                        <p><a href="#" class="btn btn-default" role="button">View More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="thumbnail task-notification-panel">
                    <div class="caption">
                        <h3>Overdue Tasks</h3>
                        <p>{{model.taskOverdue.length}}</p>
                        <p><a href="#" class="btn btn-default" role="button">View More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
